.not-found {
    color: #FF6060;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found span {
    font-size: 15rem;
    font-weight: bold;
    margin: 4rem 0 1rem;
}

.not-found p {
    font-size: 2rem;
    margin-bottom: 8rem;
    text-align: center;
}

.not-found a {
    margin-bottom: 4rem;
}

@media screen and (max-width:768px) {
    .not-found span {
        font-size: 6rem;
    }

    .not-found p {
        font-size: 1rem;
    }
}