.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 3rem 0 1rem;
    font-size: 1.1rem;
}

@media screen and (max-width:768px) {
    .footer {
        font-size: .7rem;
    }
}