.dropdown {
    width: 100%;
    margin: 0;
}

.dropdown__title {
    width: 100%;
    padding: .6rem 1.5rem;
    font-size: 1.3rem;
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dropdown__title p {
    margin: 0;
}

.dropdown__content {
    width: 100%;
    color: #FF6060;
    padding: .3rem 2rem .1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    width: 100%;
    background-color: #F6F6F6;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all .3s;
}

.dropdown__content-show {
    max-height: 300px;
    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 1;
}

.dropdown__content ul {
    list-style-type: none;
    padding: 0;
}

.chevron-down {
    transform: rotate(180deg);
}

@media screen and (max-width: 768px) {

    .dropdown__title {
        font-size: 1rem;
    }

    .dropdown__content {
        font-size: 1rem;
    }
}