.banner {
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
}

.banner div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 110%;
    z-index: -1;
}

.banner__txt {
    font-size: 3rem;
    color: #FFFFFF;
}

@media (max-width: 768px) {

    .banner {
        border-radius: 10px;
    }

    .banner__txt {
        font-size: 1.3rem;
        text-align: center;
    }
}